body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.carousel {
    display: flex;
    align-items: center;
}

img {
    width: 300px;
    height: auto;
    margin: 0 20px;
}